.board-cell {
  border: 1.5px solid black;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

.board-cell--head {
  background-color: #54902e;
}

.board-cell--body {
  background-color: #3c6721;
}

.board-cell--food {
  background-color: yellow;
}
