.header {
  width: 700px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.score {
  color: #ead8c0;
  font-weight: bold;
  font-size: 15px;
  margin-left: 23px;
}

.high-score {
  color: #ead8c0;
  font-weight: bold;
  font-size: 15px;
  margin-right: 23px;
  text-align: left;
}

.title {
  color: #ead8c0;
  font-size: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
